<form action="/profile" method="POST" id="artesanalbeer">
<h1>Introduce una cerveza</h1>
<input type="text" name="name" placeholder="Beer">
<select name="Tipo" id="" name="typebeer">
    <option value="tipo1">tipo1</option>
    <option value="tipo2">tipo2</option>
    <option value="tipo3">tipo3</option>
</select>
<input type="text" name="description" placeholder="description">
<input type="text" name="latitude" placeholder="latitude">
<input type="text" name="longitude" placeholder="longitude">
<input type="file" accept="image/png, image/jpeg, image/jpg">
</form>