<div class="eventCard">
    <img src="{{link}}" alt="">
    <h1>{{name}}</h1>
    <h3>{{EventCreator}}</h3>
{{#if card}}
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, nihil.<time datetime="2008-02-14 20:00">{{EventName}}</time>Lorem ipsum dolor sit amet.</p>
{{/if}}
    <p class="smallDescription">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam tempora vero tempore harum labore id corrupti odio cumque autem velit eos animi enim temporibus hic nemo inventore, assumenda magnam error alias necessitatibus ut maxime esse! Nemo maxime harum at dolorum, ex assumenda cum consectetur facere fuga officia officiis reprehenderit error veniam magni temporibus modi accusantium qui corporis minima vel. Recusandae, illo praesentium. Blanditiis officia dicta voluptatibus iure quae optio tempora.</p>
</div>