<form action="/profile" method="POST" id="form_createEvents">
<h1>Crea un evento</h1>
<input type="text" name="eventName" placeholder="Event Name">
<input type="text" name="author" placeholder="Author">
<input type="text" name="namePlace" placeholder="Name Place">
<input type="text" name="image" placeholder="Image">
<input type="text" name="description" placeholder="Description">
<input type="text" name="smallDescription">
<input type="file" name="eventCartel">
  <div id='map' style='width: 400px; height: 300px;'></div>
  <input type="text" name="longitude" id="longitude" style="display: none;">
  <input type="text" name="latitude" id="latitude" style="display: none;">
  <input type="submit">
</form>