  <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    {{#if config.logged}}
    
    <li><a href="/logout">Salir</a></li>
    {{/if}}
    {{!-- <li><a href="#">Shoping</a></li> --}}
  </ul>
</nav>