<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Admin Panel</a></li>
    </ul>
</nav>