
<img src="{{user.img}}"alt="">
<h1>{{user.name}}</h1>
<Address>Colonia Doctores</Address>
<p>Profesion: Químico</p>
<p>Prdoctor de Cerveza</p>
<span>Notifiaciones</span>
<a>Mensajes</a>

|
<a href="/create-location">create-location</a>
<a href="/create-Beer">create-beer</a>


