
<style>
.containerpalbeer{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    width:50vw;
    margin:0 auto;
    background-color:#ag9;
}   

</style>
<div class="containerpalbeer">
<h2>beers</h2>
{{#each beers}}
    <p><b>Nombre:</b>{{ this.name}} </p>
    
    <p><a href="/beer/{{this._id}}">Ver beer</a></p>
    <hr>

{{/each}}

</div>