<h1>Codigo de confirmacion</h1>

<form action="/confirm" method="POST">
<label for="confirmation">Confirmation</label>
<input type="text" placeholder="Código de Confirmación">
<input type="submit" value="Verificar">

</form>
<a href="profile">Perfil</a>