<h1>Dashboard</h1>

<a href="/profile">Perfil</a>


<div class="container">

<img src="" alt="">
<h3>EventName</h3>
<p class="smallDescription">Small description</p>
<time>Lorem ipsum dolor sit amet, consectetur adipisicing <time datetime="2020-02-14">16:00</time></p>
<a href="/eventdetails"></a>
</div>