

<div id="formNavContainer">
  <h1>BeerPlace</h1>

<form action="/login" method="POST" id="form_login">
<h1>Ingresa</h1>
  <input id="email" type="email" name="email" placeholder="Correo" />
  <input id="password" type="password" name="password" placeholder="Contraseña" />
{{#if message}}
     <div class="error-message">{{message}}</div>
   {{/if}}
  <br><br>

  {{!-- <button>Create account</button> --}}
  <input type="submit" value="Entra">


</form>
</div>

<form action="/signup" method="POST" id="form_register">
<h1>Regístrate</h1>
  <input id="name" type="text" name="name" placeholder="Nombre" />
  <input id="email" type="email" name="email" placeholder="Correo" />
  <input id="password" type="password" name="password" placeholder="Contraseña" />

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  {{!-- <button>Create account</button> --}}
  <input type="submit" value="Registro" id="submitregister">


</form>





