*{
    padding: 0;
    margin: 0;
}

.jumbotron jumbotron-fluid{
    display: flex;
    align-items: center;
    margin: 250px;
}

#map{
    display: flex;
    align-items: center;
    padding-left: 300px;
}