<section>
  <h2>Add beer</h2>
  <form action="/create-Beer" method="POST">

    <input name="name" type="text" placeholder="name" />
    
      <select name="typeBeer">
        <option value="Lagger">Lagger</option>
        <option value="Ale">Ale</option>
        <option value="Lambic">Lambic</option>
      </select>
      
      <select name="subtypeBeer">
        <option value="American Lager">American Lager</option>
        <option value="Pilsner">Pilsner</option>
        <option value="Dunkel">Dunkel</option>
        <option value="Bock">Bock</option>
        <option value="Barley Wine">Barley Wine</option>
        <option value="Pale Ale"> Pale Ale </option>
        <option value="Porter"> Porter </option>
        <option value="Stout">Stout</option>
        <option value=" Kriek"> Kriek</option>
      </select>




      



      <input name="description" type="text" placeholder="description">
 
    <input name="image" type="text" placeholder="Image" />

      {{#each placesArray}}

      <input type="text" name="name" value=" {{this}} " >


      {{/each}}

   
      {{!-- <section>
              

      <div class="card-preferences">
      <p>Quiero Chela</p>
      <input type="checkbox" name="QuieroChela" value="true"> 
      </div>

      <div class="card-preferences">
      <p>Beer House Mex</p>
      <input type="checkbox" name="BeerHouseMex" value="true"> 
      </div>
    

      <div class="card-preferences">
      <p>El Depósito</p>
      <input type="checkbox" name="ElDeposito" value="true"> 
      </div>

      <div class="card-preferences">
      <p>Beer Parade</p>
      <input type="checkbox" name="BeerParade" value="true"> 
      </div>

      <div class="card-preferences">
      <p>Cerveza Gourmet</p>
      <input type="checkbox" name="CervezaGourmet" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Monasterio de las Cervezas</p>
      <input type="checkbox" name="MonasterioDeLasCervezas" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Be Hoppy</p>
      <input type="checkbox" name="BeHoppy" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Biergarten</p>
      <input type="checkbox" name="Biergarten" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Beer Bank</p>
      <input type="checkbox" name="BeerBank" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Uva  y Corcho</p>
      <input type="checkbox" name="UvayCorcho" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Chelar</p>
      <input type="checkbox" name="Chelar" value="true"> 
      </div>


      <div class="card-preferences">
      <p>La Belga</p>
      <input type="checkbox" name="LaBelga" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Escollo</p>
      <input type="checkbox" name="Escollo" value="true"> 
      </div>


      <div class="card-preferences">
      <p>Fiebre Malta</p>
      <input type="checkbox" name="FiebreMalta" value="true"> 
      </div>
      </section> --}}
      
    <button class="button">Create</button>

  </form>
</section>




