<section id="beer-placer">

  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Agrega un Beer Place</h1>
    <p class="lead">¿Conoces algún lugar de cerveza artesanal y te gustaría compartirlo con nosotros?</p>
</div>
 
 
  <form action="/create-location" method="POST">

    <input name="name" type="text" placeholder="Place name" />
    



    <div id='map' style='width: 400px; height: 300px;'></div>

    

    <button class="button">Create</button>
    <input type="text" name="address" hidden>
    <input type="text" name="latitude" hidden>
    <input type="text" name="longitude" hidden>
    
  </form>
</section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZXZpbHZpYyIsImEiOiJjazY4MnBiN3kwMG8xM21uemJvYndkZHJ3In0.Xd19YjoqqQOQa_3PPD62ug';
  const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
    center: [-99.1622182, 19.4211955],
    zoom: 13})

map.addControl(
new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl,
countries: 'mx'
})
);

map.on('moveend', r => {
  const { lng, lat } = map.getCenter()
  if (lng !== 0 || lat !== 0) {
    new mapboxgl.Marker().setLngLat([lng, lat]).addTo(map)
    const address = document.querySelector('input[placeholder="Search"]').value
    const addressInput = document.querySelector('input[name="address"]')
    const latInput = document.querySelector('input[name="latitude"]')
    const lngInput = document.querySelector('input[name="longitude"]')
    latInput.value = lat
    lngInput.value = lng
    addressInput.value = address
  }
})

</script>