<h1>Dashboard</h1>


{{> profileBar}}
<h3>privado</h3>

<div class="container">
<img src="" alt="">
<h3>EventName</h3>
<p class="smallDescription">Small description</p>
<time>Lorem <time datetime="2020-02-14">16:00</time></p>
<a href="/eventdetails">See More</a>
</div>
