<div class="containerForms">
    <div class="profileContainer">
    {{> profileBar}}
</div>

    <div class="forms">
        {{!-- {{> ArtesanalBeer}} --}}
        {{> createEvents}}
        {{> createBeer}}
    </div>




<div id='map' style='width: 600px; height: 400px;'></div>

</div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicmljYXJkb2xlZ28iLCJhIjoiY2s2ODJzM2NjMDBwZDNucGJyYW93MXVjNiJ9.HDFy3Cv0ahVd2p1oyiLgHA';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
    center: [-99.1622182, 19.4211955],
    zoom: 13
})

map.addControl(
new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl,
countries: 'mx'
})
);

 map.addControl(new mapboxgl.NavigationControl());
  map.on('moveend', r => {
  const {longitude, latitude } = map.getCenter()
  if (longitude !== 0 || latitude !== 0) {
    new mapboxgl.Marker().setLngLat([lng, lat]).addTo(map)
    const address = document.querySelector('input[placeholder="Search"]').value
    const addressInput = document.querySelector('input[name="address"]')
    const latInput = document.querySelector('input[name="latitude"]')
    const lngInput = document.querySelector('input[name="longitude"]')
    latInput.value = latitude
    lngInput.value = longitude
    addressInput.value = address
  }
})

</script>

